* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  background: #1a313a;
}

.container {
  display: flex;
  /* width: 100vw; */
  height: 100vh;
  margin: 0 auto
}

.app__left {
  width: 15%;
  /* min-width: 150px !important; */
}

.app__center {
  width: 70%;
  background-color: #1a313a;
  height: 100vh;
}

.app__right {
  width: 15%;
  background-color: red;
  height: 100vh;
}